spring:
  datasource:
    url: jdbc:tc:mysql:8.0.36:///portfolio
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    username: test
    password: test
  jpa:
    hibernate:
      ddl-auto: validate
  kafka:
    bootstrap-servers: ${spring.embedded.kafka.brokers:localhost:9093}
  data:
    redis:
      host: localhost
      port: 6379
